!!! html
%html
  %head
    %meta{ charset: "utf-8" }
  %body
    %header#app-header.header
      %h1.lead Three.js Doodads
    %canvas#app-canvas
    %footer#app-footer.footer
      %p#copyright.meta-info &copy;2013 Brendon Roberto 
        %a{ href: "http://www.twitter.com/brebory" }@brebory
